.postCard{
    background-color: rgb(0, 41, 136);
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.postCardHeader{
   
    border-bottom: 5px solid rgb(0, 204, 255);
   
}
.postCardFooter{
    background-color: aqua;
    color: rgb(1, 1, 46);
    font-weight: bold;
    font-size: medium;
    padding: 1px 30px;
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius:20px; 
    cursor: pointer;
    
}
.postCardFooter:hover {
    transform: translateX(2px);

}
.postCardButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100px;
    width: 100%;
    
    
}
.postCardButtons :hover{
    cursor: pointer;
    ;
}
.postCardButtons p{
    background-color: rgb(65, 64, 64);
    padding: 2px 30px;
    border:2px solid rgb(0, 195, 255);
    border-radius: 4px;
    box-shadow: 7px 3px 10px rgb(0, 195, 255);
}
.likeButton:hover  {
    border-radius: 10px;
    transform: scale(1.4);
    
}
.dislikeButton:hover {
    border-radius: 10px;
    transform: scale(1.4);

}
@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');


.card1 {
    background: linear-gradient(rgb(103, 58, 225), rgb(0, 103, 134));
    transition: .6s;
    transform: rotatex(75deg) translatey(-200px) translatez(-100px);
    
}

.card1:hover {
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition: .6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

