.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(138, 142, 162);
    padding: 20px;
  
    

}
.navContainer :link{
    text-decoration:none;
    text-decoration-color: rgb(128, 127, 127);
    font-size: x-large;
   
}

