.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(138, 142, 162);
    padding: 20px;

}
.navContainer :link{
    text-decoration: none;
    color: white;
}