.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(138, 142, 162);
    padding: 20px;
  
  

}
.navContainer :link{
    text-decoration:none;
    font-size: x-large;
   
}
.userNav{
    color: rgb(0, 0, 0);
    display: flex;
    margin: 5px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.userNav img{
    border-radius: 50px;
}
.userNav button{
    padding: 5px 10px;
    margin: 5px;
    background-color: rgb(174, 174, 174);
    border-radius: 30px;
    cursor: pointer;
    
}
.userNav button :hover{
    background-color: gray;
}